{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "3",
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        // [
        //     "import",
        //     {
        //         "libraryName": "@lpink/utils",
        //         "libraryDirectory": "dist",
        //         "camel2DashComponentName": false
        //     }
        // ]
    ]
}